In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print("Libraries Loaded Successfully!")

Libraries Loaded Successfully!

In [ ]:
df_cpi = pd.read_excel('CCPI_Data.xlsx')

print("Raw Data Preview:")
print(df_cpi.head())

Raw Data Preview:
   Year     Month  Index Number  Month to Month  Year on Year  \
0  2020   January         134.6             1.7           5.7
1  2020  February         134.6             0.0           6.2
2  2020     March         133.4            -0.9           5.4
3  2020     April         133.6             0.1           5.2
4  2020       May         134.2             0.4           4.0

   12 month Moving Average
0                      4.5
1                      4.6
2                      4.7
3                      4.8
4                      4.7

In [ ]:
df_cpi['Date'] = pd.to_datetime(df_cpi['Year'].astype(str) + '-' + df_cpi['Month'].astype(str) + '-01')

print(df_cpi.head())

   Year     Month  Index Number  Month to Month  Year on Year  \
0  2020   January         134.6             1.7           5.7
1  2020  February         134.6             0.0           6.2
2  2020     March         133.4            -0.9           5.4
3  2020     April         133.6             0.1           5.2
4  2020       May         134.2             0.4           4.0

   12 month Moving Average       Date
0                      4.5 2020-01-01
1                      4.6 2020-02-01
2                      4.7 2020-03-01
3                      4.8 2020-04-01
4                      4.7 2020-05-01

In [ ]:
df_cpi = df_cpi.rename(columns={'Index Number': 'CCPI_Index'})
print(df_cpi.head())

   Year     Month  CCPI_Index  Month to Month  Year on Year  \
0  2020   January       134.6             1.7           5.7
1  2020  February       134.6             0.0           6.2
2  2020     March       133.4            -0.9           5.4
3  2020     April       133.6             0.1           5.2
4  2020       May       134.2             0.4           4.0

   12 month Moving Average       Date
0                      4.5 2020-01-01
1                      4.6 2020-02-01
2                      4.7 2020-03-01
3                      4.8 2020-04-01
4                      4.7 2020-05-01

In [ ]:
df_cpi = df_cpi[['Date', 'CCPI_Index']]

print(df_cpi.head())

        Date  CCPI_Index
0 2020-01-01       134.6
1 2020-02-01       134.6
2 2020-03-01       133.4
3 2020-04-01       133.6
4 2020-05-01       134.2

In [ ]:
df_cpi = df_cpi.sort_values(by='Date')
print(df_cpi.head())

        Date  CCPI_Index
0 2020-01-01       134.6
1 2020-02-01       134.6
2 2020-03-01       133.4
3 2020-04-01       133.6
4 2020-05-01       134.2

In [ ]:
df_cpi['Inflation_MoM%'] = df_cpi['CCPI_Index'].pct_change() * 100
print(df_cpi.head())

        Date  CCPI_Index  Inflation_MoM%
0 2020-01-01       134.6             NaN
1 2020-02-01       134.6        0.000000
2 2020-03-01       133.4       -0.891530
3 2020-04-01       133.6        0.149925
4 2020-05-01       134.2        0.449102

In [ ]:
df_cpi['Inflation_YoY%'] = df_cpi['CCPI_Index'].pct_change(periods=12) * 100
print(df_cpi.head())

        Date  CCPI_Index  Inflation_MoM%  Inflation_YoY%
0 2020-01-01       134.6             NaN             NaN
1 2020-02-01       134.6        0.000000             NaN
2 2020-03-01       133.4       -0.891530             NaN
3 2020-04-01       133.6        0.149925             NaN
4 2020-05-01       134.2        0.449102             NaN

In [97]:
print(df_cpi.head())

        Date  CCPI_Index  Inflation_MoM%  Inflation_YoY%
0 2020-01-01       134.6             NaN             NaN
1 2020-02-01       134.6        0.000000             NaN
2 2020-03-01       133.4       -0.891530             NaN
3 2020-04-01       133.6        0.149925             NaN
4 2020-05-01       134.2        0.449102             NaN

In [20]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [ ]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [25]:
df_usd = pd.read_excel('Exchange_Rates.xlsx')
print(df_usd.head(10))

   Unnamed: 0                                       Unnamed: 1 Unnamed: 2  \
0         NaN                   Monthly Average Exchange Rates        NaN
1         NaN  (Sri Lanka Rupees per Unit of Foreign Currency)        NaN
2         NaN                                              NaN        NaN
3         NaN                                              NaN        NaN
4         NaN                                             Year      Month
5         NaN                                              NaN        NaN
6         NaN                                              NaN        NaN
7         NaN                                             1986    January
8         NaN                                              NaN   February
9         NaN                                              NaN      March

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        SDR        USD        GBP        INR        JPY        EUR
5        NaN        NaN        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN        NaN        NaN
7   30.20456    27.5052    39.2478     2.2436   0.137568          -
8  31.164852    27.5822    39.3698     2.2262   0.149603          -
9  31.732473    27.6093    40.4896     2.2494   0.154519          -

  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0        NaN         NaN         NaN         NaN         NaN         NaN
1        NaN         NaN         NaN         NaN         NaN         NaN
2        NaN         NaN         NaN         NaN         NaN         NaN
3        NaN         NaN         NaN         NaN         NaN         NaN
4        CHF         AUD         CAD         SGD         DKK         HKD
5        NaN         NaN         NaN         NaN         NaN         NaN
6        NaN         NaN         NaN         NaN         NaN         NaN
7          -           -           -           -           -           -
8          -           -           -           -           -           -
9          -           -           -           -           -           -

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NZD         NOK         SEK
5         NaN         NaN         NaN
6         NaN         NaN         NaN
7           -           -           -
8           -           -           -
9           -           -           -

In [41]:
df_usd = pd.read_excel('Exchange_Rates.xlsx', header=5, skiprows=[6,7])
print(df_usd.head())

   Unnamed: 0  Year     Month        SDR      USD      GBP     INR       JPY  \
0         NaN  1986   January  30.204560  27.5052  39.2478  2.2436  0.137568
1         NaN   NaN  February  31.164852  27.5822  39.3698  2.2262  0.149603
2         NaN   NaN     March  31.732473  27.6093  40.4896  2.2494  0.154519
3         NaN   NaN     April  31.966513  27.7733  41.4720  2.2637  0.158674
4         NaN   NaN       May  32.661401  27.9205  42.5341  2.2393  0.167650

  EUR CHF AUD CAD SGD DKK HKD NZD NOK SEK
0   -   -   -   -   -   -   -   -   -   -
1   -   -   -   -   -   -   -   -   -   -
2   -   -   -   -   -   -   -   -   -   -
3   -   -   -   -   -   -   -   -   -   -
4   -   -   -   -   -   -   -   -   -   -

In [45]:
df_usd['Year'] = df_usd['Year'].ffill()
print(df_usd.head(10))

   Unnamed: 0  Year      Month        SDR      USD      GBP     INR       JPY  \
0         NaN  1986    January  30.204560  27.5052  39.2478  2.2436  0.137568
1         NaN  1986   February  31.164852  27.5822  39.3698  2.2262  0.149603
2         NaN  1986      March  31.732473  27.6093  40.4896  2.2494  0.154519
3         NaN  1986      April  31.966513  27.7733  41.4720  2.2637  0.158674
4         NaN  1986        May  32.661401  27.9205  42.5341  2.2393  0.167650
5         NaN  1986       June  32.520740  27.9407  42.0811  2.2102  0.166271
6         NaN  1986       July  33.361030  28.0498  42.4017  2.2414  0.176931
7         NaN  1986     August  34.047876  28.1739  41.8696  2.2416  0.182947
8         NaN  1986  September  34.233949  28.2806  41.6279  2.2307  0.182883
9         NaN  1986    October  34.406914  28.3944  40.5618  2.2113  0.182033

  EUR CHF AUD CAD SGD DKK HKD NZD NOK SEK
0   -   -   -   -   -   -   -   -   -   -
1   -   -   -   -   -   -   -   -   -   -
2   -   -   -   -   -   -   -   -   -   -
3   -   -   -   -   -   -   -   -   -   -
4   -   -   -   -   -   -   -   -   -   -
5   -   -   -   -   -   -   -   -   -   -
6   -   -   -   -   -   -   -   -   -   -
7   -   -   -   -   -   -   -   -   -   -
8   -   -   -   -   -   -   -   -   -   -
9   -   -   -   -   -   -   -   -   -   -

In [51]:
df_usd = df_usd.dropna(subset=['Month']).copy()
df_usd['Date'] = pd.to_datetime(df_usd['Year'].astype(str) + '-' + df_usd['Month'].astype(str) + '-01')
print(df_usd.head())

   Unnamed: 0  Year     Month        SDR      USD      GBP     INR       JPY  \
0         NaN  1986   January  30.204560  27.5052  39.2478  2.2436  0.137568
1         NaN  1986  February  31.164852  27.5822  39.3698  2.2262  0.149603
2         NaN  1986     March  31.732473  27.6093  40.4896  2.2494  0.154519
3         NaN  1986     April  31.966513  27.7733  41.4720  2.2637  0.158674
4         NaN  1986       May  32.661401  27.9205  42.5341  2.2393  0.167650

  EUR CHF AUD CAD SGD DKK HKD NZD NOK SEK       Date
0   -   -   -   -   -   -   -   -   -   - 1986-01-01
1   -   -   -   -   -   -   -   -   -   - 1986-02-01
2   -   -   -   -   -   -   -   -   -   - 1986-03-01
3   -   -   -   -   -   -   -   -   -   - 1986-04-01
4   -   -   -   -   -   -   -   -   -   - 1986-05-01

In [52]:
df_usd = df_usd[['Date', 'USD']]
df_usd = df_usd.sort_values(by='Date')
print(df_usd.head())

        Date      USD
0 1986-01-01  27.5052
1 1986-02-01  27.5822
2 1986-03-01  27.6093
3 1986-04-01  27.7733
4 1986-05-01  27.9205

In [79]:
df_usd = df_usd[df_usd['Date'] >= '2020-01-01']
print(df_usd.head())

          Date         USD
510 2020-01-01  181.403643
511 2020-02-01  181.562800
512 2020-03-01  185.056680
513 2020-04-01  193.085406
514 2020-05-01  187.865047

In [72]:
df_fuel = pd.read_excel('Fuel_Prices.xlsx')
print(df_fuel.head())

        Date  Petrol  Diesel
0 2026-01-06     294     279
1 2025-11-01     294     277
2 2025-10-01     299     277
3 2025-09-01     299     283
4 2025-07-05     305     289

In [73]:
df_fuel['Date'] = pd.to_datetime(df_fuel['Date'])
df_fuel = df_fuel.sort_values(by='Date')
print(df_fuel.head())

         Date  Petrol  Diesel
79 2018-05-11     137     109
78 2018-06-13     137     109
77 2018-07-11     145     118
76 2018-08-11     145     118
75 2018-09-04     145     118

In [74]:
df_fuel.set_index('Date', inplace=True)
print(df_fuel.head())

            Petrol  Diesel
Date
2018-05-11     137     109
2018-06-13     137     109
2018-07-11     145     118
2018-08-11     145     118
2018-09-04     145     118

In [84]:
df_fuel_monthly = df_fuel.resample('ME').ffill().reset_index()
print(df_fuel_monthly.head())

        Date  Petrol  Diesel
0 2018-05-31     137     109
1 2018-06-30     137     109
2 2018-07-31     145     118
3 2018-08-31     145     118
4 2018-09-30     149     123

In [86]:
df_fuel_monthly = df_fuel_monthly.rename(columns={'Petrol': 'Petrol_LKR', 'Diesel': 'Diesel_LKR'})
print(df_fuel_monthly.head())

        Date  Petrol_LKR  Diesel_LKR
0 2018-05-31         137         109
1 2018-06-30         137         109
2 2018-07-31         145         118
3 2018-08-31         145         118
4 2018-09-30         149         123

In [91]:
df_temp = pd.merge(df_cpi, df_usd, on='Date', how='left')
print(df_temp.head())

        Date  CCPI_Index  Inflation_MoM%  Inflation_YoY%         USD
0 2020-01-01       134.6             NaN             NaN  181.403643
1 2020-02-01       134.6        0.000000             NaN  181.562800
2 2020-03-01       133.4       -0.891530             NaN  185.056680
3 2020-04-01       133.6        0.149925             NaN  193.085406
4 2020-05-01       134.2        0.449102             NaN  187.865047

In [98]:
df_master = pd.merge(df_temp, df_fuel_monthly, on='Date', how='left')
print(df_master.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            72 non-null     datetime64[ns]
 1   CCPI_Index      72 non-null     float64
 2   Inflation_MoM%  71 non-null     float64
 3   Inflation_YoY%  60 non-null     float64
 4   USD             68 non-null     float64
 5   Petrol_LKR      0 non-null      float64
 6   Diesel_LKR      0 non-null      float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 4.1 KB
None

In [99]:
df_cpi['Date'] = df_cpi['Date'].dt.replace(day=1)

AttributeError: 'DatetimeProperties' object has no attribute 'replace'

In [100]:
df_cpi['Date'] = df_cpi['Date'].apply(lambda x: x.replace(day=1))
print(df_cpi.head())

        Date  CCPI_Index  Inflation_MoM%  Inflation_YoY%
0 2020-01-01       134.6             NaN             NaN
1 2020-02-01       134.6        0.000000             NaN
2 2020-03-01       133.4       -0.891530             NaN
3 2020-04-01       133.6        0.149925             NaN
4 2020-05-01       134.2        0.449102             NaN

In [102]:
df_fuel_monthly = df_fuel.resample('MS').ffill().reset_index()
df_fuel_monthly = df_fuel_monthly.rename(columns={'Petrol': 'Petrol_LKR', 'Diesel': 'Diesel_LKR'})
print(df_fuel_monthly.head())

        Date  Petrol_LKR  Diesel_LKR
0 2018-05-01         NaN         NaN
1 2018-06-01       137.0       109.0
2 2018-07-01       137.0       109.0
3 2018-08-01       145.0       118.0
4 2018-09-01       145.0       118.0

In [103]:
df_usd_monthly = df_usd.resample('MS', on='Date').mean().reset_index()
print(df_usd_monthly.head())

        Date         USD
0 2020-01-01  181.403643
1 2020-02-01  181.562800
2 2020-03-01  185.056680
3 2020-04-01  193.085406
4 2020-05-01  187.865047

In [109]:
df_temp = pd.merge(df_cpi, df_usd_monthly, on='Date', how='left')
print(df_temp.head())

        Date  CCPI_Index  Inflation_MoM%  Inflation_YoY%         USD
0 2020-01-01       134.6             NaN             NaN  181.403643
1 2020-02-01       134.6        0.000000             NaN  181.562800
2 2020-03-01       133.4       -0.891530             NaN  185.056680
3 2020-04-01       133.6        0.149925             NaN  193.085406
4 2020-05-01       134.2        0.449102             NaN  187.865047

In [111]:
df_master = pd.merge(df_temp, df_fuel_monthly, on='Date', how='left')
print(df_master.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            72 non-null     datetime64[ns]
 1   CCPI_Index      72 non-null     float64
 2   Inflation_MoM%  71 non-null     float64
 3   Inflation_YoY%  60 non-null     float64
 4   USD             68 non-null     float64
 5   Petrol_LKR      72 non-null     float64
 6   Diesel_LKR      72 non-null     float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 4.1 KB
None

In [112]:
df_master.to_csv('SriLanka_Cost_of_Living_MASTER.csv', index=False)
print("Download ready!")

Download ready!